/* Headings */

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
