.hero-form {
  @include flex-container(1.5rem, 1.5rem);

  max-width: 570px;
  margin: 0 auto;
}

.hero-form-name,
.hero-form-email {
  flex: 1 1 200px;
  min-height: 50px;
  padding-left: 20px;

  &::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: map.get($color-values, "white");
  }
}

.input-transparent {
  border-radius: 3px;
  border: 2px solid map.get($color-values, "dark-gray");
  background-color: transparent;
}
