form {
  @include container-flex(math.div($rem-base * 1.5, 1px), math.div($rem-base * 1.5, 1px));

  max-width: 570px;

  margin: 0 auto;

  input[type="text"],
  input[type="email"] {
    flex: 1 1 200px;

    min-height: 50px;

    padding-left: 20px;

    border: 2px solid $dark-gray;
    border-radius: 3px;

    font-weight: 700;
    font-size: 14px;

    background-color: transparent;
  }

  .btn {
    @include btn-size(100%, 30, 20, 0, 5, math.div($font-size-0, 1px));
    @include btn-style($green);
  }
}
