/* ==========================================================================
   General styles
   ========================================================================== */

/* Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}

/* Initial setup styles */
* {
  box-sizing: border-box;
}

ol,
ul,
a,
input,
button,
address {
  @include reset;
}

a {
  cursor: pointer;
}

img {
  display: block;
}

html {
  font-size: $rem-base;
}

body {
  @include reset;

  font-style: 400;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color: map.get($color-values, "dark-gray");

  background-color: map.get($color-values, "black");
}

/* Headings */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: map.get($color-values, "white");
  text-transform: uppercase;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  @include media(medium) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2,
.h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;

  @include media(medium) {
    font-size: 18px;
    line-height: 27px;
  }
}

h3,
.h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;

  @include media(medium) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

h4,
.h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.h4-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.h4-bold-capitalize {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

/* ==========================================================================
   Component's styles
   ========================================================================== */

/* Containers */
.container {
  width: clamp(calc($min-width-container + 40px), 100%, $max-width-container);

  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.pricing-flex-container {
  @include flex-container(50px, 50px, normal, center);
}

.flex-container-news {
  @include flex-container(65px, 0, normal, normal, column, nowrap);
}

.app-flex-container {
  @include flex-container(0, 9rem);

  @include media(medium) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .app-flex-item-text {
    flex: 1 1 350px;

    max-width: 600px;

    @include media(medium) {
      flex-basis: auto;
    }
  }
}

.footer-grid-container {
  @include grid-container(minmax(270px, 1fr), 15px, 40px);
}

.footer-social-flex-container {
  @include flex-container(0, 1.5rem);
}

.footer-list-flex-container {
  @include flex-container(1rem, 1rem);

  @include media(small) {
    flex-direction: column;
  }
}

.current-artist-flex-container {
  @include flex-container(1.5rem, 1.5rem);
}

.popular-tracks-grid-container {
  @include grid-container(minmax(350px, 550px));
}

.discography-grid-container {
  @include grid-container(250px);

  @include media(medium) {
    @include grid-container(138px);
  }
}

.similar-artists-grid-container {
  @include grid-container(250px);

  @include media(medium) {
    @include grid-container(137px);
  }
}

/* Buttons */
.btn {
  display: block;

  border: none;
  background: none;

  cursor: pointer;
}

.btn-subsription {
  @include btn-structure(100%);
}

.btn-album {
  @include btn-structure(max-content, auto, 30px, 1rem);
}

.btn-app {
  @include btn-structure(max-content, auto, 40px, 1rem);
}

.btn-control {
  @include btn-structure(200px);
}

.btn-transparent-f-s-1 {
  @include btn-style(
    map.get($f-s-values, "f-s-1"),
    map.get($color-values, "transparent"),
    1
  );
}

.btn-transparent-f-s-small {
  @include btn-style(
    map.get($f-s-values, "f-s-small"),
    map.get($color-values, "transparent"),
    1
  );
}

.btn-green {
  @include btn-style(13.3, map.get($color-values, "green"));
}

.btn-red-oval {
  @include btn-style(12.8, map.get($color-values, "red"), 0, 32);
}

.btn-purple {
  @include btn-style(12.8, map.get($color-values, "purple"));
}

.btn-red-square {
  @include btn-style(12.8, map.get($color-values, "red"));
}
