// General
@mixin media($breakpoint) {
  @media screen and (max-width: map.get($breakpoints, breakpoint-#{$breakpoint})) {
    @content;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;

  color: inherit;
  text-decoration: none;

  font-style: inherit;
  list-style: none;

  border-style: none;
}

// Containers
@mixin flex-container(
  $row-gap: 16,
  $column-gap: 16,
  $align-items: flex-start,
  $justify-content: flex-start,
  $flex-direction: row,
  $flex-wrap: wrap
) {
  display: flex;
  flex-flow: $flex-direction $flex-wrap;

  justify-content: $justify-content;
  align-items: $align-items;

  gap: #{$row-gap}px #{$column-gap}px;

  @content;
}

@mixin grid-container($track-size, $row-gap: 25, $column-gap: 50) {
  display: grid;
  grid-template-columns: repeat(auto-fill, $track-size);
  gap: #{$row-gap}px #{$column-gap}px;

  @content;
}

// Margins and paddings
@mixin m-p-class($value, $class-name, $direction) {
  .#{string.slice($class-name, 1, 1)}-#{string.slice($direction, 1, 1)}-#{math.div($value, 1px)} {
    #{$class-name}-#{$direction}: $value;
  }
}

// Buttons
@mixin btn-size(
  $width: auto,
  $padding-inline: 30,
  $padding-block: 20,
  $border-width: 1,
  $border-radius: 5,
  $font-size: math.div($rem-base, 1px)
) {
  display: block;

  width: $width;

  padding: #{$padding-block}px #{$padding-inline}px #{$padding-block}px #{$padding-inline}px;

  border-width: #{$border-width}px;
  border-radius: #{$border-radius}px;

  font-size: #{$font-size}px;
}

@mixin btn-style(
  $background-color: transparent,
  $color: inherit,
  $text-transform: uppercase,
  $border-color: inherit
) {
  border-color: $border-color;
  border-style: solid;

  background-color: $background-color;

  color: $color;
  text-transform: $text-transform;
  text-decoration: none;
}

// Backgrounds
@mixin bg($bg-name) {
  .bg-#{$bg-name} {
    background-image: url("../images/#{$bg-name}.png");
    background-position: center;
    background-size: cover;
  }
}
