.news-item {
  @include flex-container(50px, 50px, normal, center);
}

.news-image {
  flex-basis: 575px;

  min-width: $min-width-container;
}

.news-body {
  flex: 1 1 $min-width-container;

  max-width: 575px;

  h3 {
    font-size: 30px;

    @include media(medium) {
      font-size: map.get($f-s-values, "f-s-1");

      margin-bottom: 1rem;
    }
  }
}

.news-footer {
  @include flex-container(0, 1rem);

  font-size: map.get($f-s-values, "f-s-small");

  .news-author {
    color: map.get($color-values, "orange");
    text-transform: uppercase;
  }
}

.news-item:nth-child(3n) {
  flex-direction: row-reverse;
}
