.news-item {
  @include flex-container(50px, 50px, normal, center);
}

.news-image {
  flex-basis: 575px;

  min-width: $min-width-container;
}

.news-body {
  flex: 1 1 $min-width-container;

  max-width: 575px;
}

.news-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;

  @include media(medium) {
    font-size: map.get($f-s-values, "f-s-1");
  }
}

.news-footer {
  @include flex-container(0, 1rem);
}

.news-author {
  color: map.get($color-values, "orange");
  text-transform: uppercase;
}

.news-item:nth-child(3n) {
  flex-direction: row-reverse;
}
