.page-header {
  font-size: map.get($f-s-values, "f-s-ultra-small");
  text-transform: uppercase;
}

.header-flex-container {
  @include flex-container(1rem, 0, normal, space-between);

  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  @include media(small) {
    flex-direction: column;
  }
}

.header-nav-flex-container {
  @include flex-container(1rem, 90px, center, space-between);

  @include media(small) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-logo-flex-container {
  @include flex-container(0, 1rem, center, space-between);
}

.header-anchors-flex-container {
  @include flex-container(0, 24px);

  @include media(small) {
    flex-direction: column;
    align-items: flex-start;

    font-weight: 700;
  }
}

.header-link {
  text-decoration: none;
}

.header-search {
  width: 248px;
  height: 30px;
  padding: 5px 10px;

  @include media(medium) {
    width: 500px;
  }

  @include media(small) {
    width: 100%;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 13.3px;
    line-height: 15px;
    color: map.get($color-values, "sonic-silver");
    text-transform: uppercase;
  }
}
