.popular-track {
  .popular-track-img {
    width: 55px;
  }

  .popular-track-info {
    h3,
    p {
      font-size: $font-size-small;
      line-height: 150%;
    }
  }

  .track-duration {
    margin-left: auto;

    font-size: $font-size-small;
    line-height: 150%;
  }
}

.flex-container-popular-track {
  @include flex-container(0, 16, center);
}
