.popular-track {
  .popular-track-image {
    width: 55px;
  }

  .track-info {
    h3,
    p {
      font-size: $font-size-small;
    }
  }

  .track-duration {
    margin-left: auto;

    font-size: 12.8px;
    line-height: 150%;
  }
}

.flex-container-popular-track {
  @include container-flex(0, 16, center);
}
