.pricing-item {
  flex: 1 1 $min-width-container;

  max-width: 450px;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pricing-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  @include media(medium) {
    line-height: 24px;
  }
}

.pricing-figure {
  font-size: map.get($f-s-values, "f-s-7");
  line-height: 1em;
}

.pricing-currency {
  font-size: map.get($f-s-values, "f-s-3");
}

.pricing-footer {
  font-size: map.get($f-s-values, "f-s-small");
}
