.section-header {
  .container-flex {
    @include container-flex(math.div($rem-base, 1px), 0, normal, space-between);

    position: absolute;
    top: 25px;
    right: 0;
    left: 0;

    font-size: $font-size-ultra-small;
    text-transform: uppercase;

    @include media(small) {
      flex-direction: column;
    }

    &-logo-nav {
      @include container-flex(math.div($rem-base, 1px), 90, center, space-between);

      @include media(small) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-logo {
      @include container-flex(0, math.div($rem-base, 1px), center, space-between);

      img {
        width: 1.5rem;
      }
    }

    &-nav {
      @include container-flex(0, 24);

      @include media(small) {
        font-weight: 700;

        flex-direction: column;
        align-items: flex-start;
      }
    }

    input[type="search"] {
      width: 248px;
      height: 30px;

      padding: 5px 10px;

      background: $dark;
      border-radius: 50px;

      @include media(medium) {
        width: 500px;
      }

      @include media(small) {
        width: 100%;
      }

      &::placeholder {
        color: #757575;
        font-size: $font-size-0;
        line-height: 15px;
        text-transform: uppercase;
      }
    }
  }
}
