// Colors
$color-values: (
  "white": #fff,
  "black": #08020d,
  "gray": #e0e0e0,
  "dark-gray": #cacaca,
  "sonic-silver": #757575,
  "dark": #3c3b3d,
  "green": #34c176,
  "orange": #f89202,
  "purple": #5328a1,
  "red": #95390c,
  "transparent": transparent,
);

// Breakpoints
$breakpoints: (
  "breakpoint-small": 540px,
  "breakpoint-medium": 875px,
);

// Font-sises
$f-s-values: (
  "f-s-7": 64px,
  "f-s-6": 56px,
  "f-s-5": 48px,
  "f-s-4": 40px,
  "f-s-3": 32px,
  "f-s-2": 24px,
  "f-s-1": 16px,
  "f-s-small": 12.8px,
  "f-s-ultra-small": 11px,
);

// Default length
$rem-base: 16px;
$min-width-container: 350px;
$max-width-container: 1240px;

// Margins and paddings
$p-m-values: (
  "padding": (
    "top": (
      0,
      2rem,
      3rem,
      100px,
      200px,
    ),
    "bottom": (
      0,
      1.5rem,
      30px,
      3rem,
      4rem,
      200px,
    ),
    "right": (
      0,
    ),
    "left": (
      0,
    ),
  ),
  "margin": (
    "top": (
      0,
      15px,
      3rem,
      50px,
      4rem,
      65px,
    ),
    "bottom": (
      0,
      20px,
      1.5rem,
      40px,
      3rem,
      4rem,
      100px,
      200px,
    ),
    "right": (
      0,
      1rem,
    ),
    "left": (
      0,
    ),
  ),
);

// Backgrounds
$bg-names: "banner", "subscribe-1", "subscribe-2", "subscribe-3",
  "morten-harket";
