@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

// Containers

body {
  @include reset;

  height: 100vh;
  width: 100%;

  color: $dark-gray;
  font: 400 #{$rem-base}/ 1.5 Roboto, sans-serif;

  background: $black;
}

.container {
  box-sizing: border-box;

  width: clamp(calc($min-width-container + 40px), 100%, $max-width-container);
  margin: 0 auto;

  @include media(large) {
    @include p-b-20-20;
  }
}

.section-app .container-flex {
  @include container-flex-new(16, 144);

  @include media(medium) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .flex-item-1 {
    flex: 1 1 350px;

    max-width: 600px;
    min-width: 350px;
  }

  .flex-item-2 {
    width: 333px;
  }
}

// Headings

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &.capitalize {
    text-transform: capitalize;

    &.bold {
      font-weight: 700;
    }
  }
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: $white;
  text-transform: uppercase;

  @include media(small) {
    font-size: 18px;
    line-height: 24px;
  }

  &.capitalize.bold {
    text-transform: capitalize;
  }
}

.index {
  section header {
    text-align: center;
  }
}

// Buttons

.section-app .btn {
  @include btn-size(max-content, 40, 16, 0, 32, $font-size-small / 1px);
  @include btn-style($red, $white, capitalize);
}

// Margins and paddings

@each $direction, $values in $p-values {
  @each $first-value in $values {
    @each $second-value in $values {
      @include m-p-class($first-value, $second-value, "p", $direction);
    }
  }
}

@each $direction, $values in $m-values {
  @each $first-value in $values {
    @each $second-value in $values {
      @include m-p-class($first-value, $second-value, "m", $direction);
    }
  }
}

@for $a from 0 through 4 {
  @for $b from 4 through 0 {
    $first-value: $a * ($rem-base / 1px);
    $second-value: $b * ($rem-base / 1px);

    @each $direction in $directions {
      @include m-p-class($first-value, $second-value, "m", $direction);
    }
  }
}

// Text

.t-a-center {
  text-align: center;
}

.t-white {
  color: $white;
}

// Images

div > img:only-child {
  width: 100%;
  height: auto;

  vertical-align: middle;
}
