// Fonts
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

// Resets
ul {
  padding: 0;

  list-style: none;
}

input {
  @include reset;
}

a {
  @include reset;
}

button {
  @include reset;
}

// Container
body {
  @include reset;

  height: 100vh;
  width: 100%;

  color: $dark-gray;
  font: 400 #{$rem-base}/ 1.5 Roboto, sans-serif;

  background: $black;
}

.container {
  box-sizing: border-box;

  width: clamp(calc($min-width-container + 40px), 100%, $max-width-container);

  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container-flex-pricing {
  @include container-flex(50, 50, center);
}

.container-flex-news {
  @include container-flex(65, 0, flex-start, column, nowrap, stretch);
}

.container-flex-app {
  @include container-flex(0, 144);

  @include media(medium) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .flex-item-1 {
    flex: 1 1 350px;

    max-width: 600px;

    @include media(medium) {
      flex-basis: auto;
    }
  }

  .flex-item-2 {
    width: 333px;
  }
}

.container-grid-footer {
  @include grid(minmax(270px, 1fr), 15, 40);
}

.container-flex-footer-1 {
  @include container-flex(0, 24);
}

.container-flex-footer-2 {
  @include container-flex(16, 16);

  @include media(small) {
    flex-direction: column;
  }
}

.container-flex-first {
  @include container-flex(24, 24);
}

.container-grid-popular-tracks {
  @include grid(minmax(350px, 550px));
}

.contaner-grid-discography {
  @include grid(250px);

  @include media(medium) {
    @include grid(138px);
  }
}

.contaner-grid-similar-artists {
  @include grid(250px);

  @include media(medium) {
    @include grid(137px);
  }
}

// Headings
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-size: 30px;
    line-height: 45px;

    margin-top: 50px;
  }
}

.section-hero h1 {
  @include media(small) {
    margin-top: 50px;
  }
}

.section-first h1 {
  @include media(small) {
    margin-top: 25px;
  }
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;

  color: $white;
  text-transform: uppercase;

  @include media(medium) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &.capitalize {
    text-transform: capitalize;

    &.bold {
      font-weight: 700;
    }
  }
}

.section-footer h2,
.section-discography h3,
.section-similar-artists h3,
h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: $white;
  text-transform: uppercase;

  @include media(small) {
    font-size: 18px;
    line-height: 24px;
  }

  &.capitalize {
    text-transform: capitalize;

    @include media(small) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

// Images
img {
  display: block;
}

.discography-item-image,
.similar-item-image {
  width: 100%;
}

// Buttons
.section-app {
  .btn {
    @include btn-size(max-content, 40, 16, 0, 32, $font-size-small / 1px);
    @include btn-style($red, $white, capitalize);
  }
}

.section-first {
  .btn {
    &.mix {
      @include btn-size(200px, 30, 20, 0, 5, $font-size-small / 1px);
      @include btn-style($purple);
    }

    &.fave {
      @include btn-size(200px, 30, 20, 0, 5, $font-size-small / 1px);
      @include btn-style($red);
    }

    img {
      display: inline-block;
      width: 20px;

      margin-right: 16px;

      vertical-align: middle;

      filter: invert(1);
    }
  }
}

// Margins and paddings
@each $direction, $values in $p-values {
  @each $first-value in $values {
    @each $second-value in $values {
      @include m-p-class($first-value, $second-value, "p", $direction);
    }
  }
}

@each $direction, $values in $m-values {
  @each $first-value in $values {
    @each $second-value in $values {
      @include m-p-class($first-value, $second-value, "m", $direction);
    }
  }
}

@for $a from 0 through 8 {
  @for $b from 8 through 0 {
    $first-value: $a * ($rem-base / 2px);
    $second-value: $b * ($rem-base / 2px);

    @each $layout-element in $layout-elements {
      @each $direction in $directions {
        @include m-p-class(
          $first-value,
          $second-value,
          $layout-element,
          $direction
        );
      }
    }
  }
}

.m-top-0 {
  margin-top: 0;
}

.m-bottom-0 {
  margin-bottom: 0;
}

// Text
.t-a-center {
  text-align: center;
}

.t-white {
  color: $white;
}

.t-gray {
  color: $gray;
}

// Backgrounds
.bg-gradient {
  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);
}

@each $bg-name in $bg-names {
  @include bg($bg-name);
}
