.news-item {
  @include container-flex(50, 50, center);

  .news-image {
    min-width: $min-width-container;
    width: 575px;
  }

  .news-text {
    flex: 1 1 $min-width-container;

    box-sizing: border-box;
    max-width: 575px;

    .news-body {
      margin-bottom: 1.5rem;

      h3 {
        margin-top: 0;
        margin-bottom: 30px;

        font-size: 30px;

        @include media(medium) {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    .news-footer {
      .news-author {
        @include container-flex(0, $rem-base / 1px);

        margin-bottom: 3rem;

        .author {
          color: $orange;
          font-size: 12px;
          line-height: 1.6;
          text-transform: uppercase;
        }

        time {
          font-size: 12px;
          line-height: 1.6;
        }
      }

      .btn {
        @include btn-size(
          max-content,
          30,
          $rem-base / 1px,
          1,
          5,
          $font-size-small / 1px
        );
        @include btn-style;
      }
    }
  }
}

.news-item:nth-child(2n) {
  flex-direction: row-reverse;
}
