.pricing-item {
  box-sizing: border-box;
  flex: 1 1 30%;

  min-width: $min-width-container;
  max-width: 450px;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-radius: 1rem;

  h3 {
    line-height: 36px;

    margin-bottom: 200px;
  }

  .pricing-value {
    margin-bottom: 40px;

    text-transform: uppercase;

    .value {
      font-size: $font-size-7;
      line-height: 1em;

      margin-right: 1rem;
    }

    .currency {
      font-size: $font-size-3;

      vertical-align: top;
    }
  }

  .btn {
    @include btn-size;
    @include btn-style;
  }

  .pricing-footer {
    margin-block: 4rem;

    font-size: $font-size-small;
  }
}
