.section-hero {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  .container {
    align-items: center;

    form {
      @include container-flex;

      justify-content: space-between;
      gap: $value-default * 1.5;

      max-width: 570px;

      margin: 0 auto;

      input[type="text"],
      input[type="email"] {
        @include reset;
        @include p-b-20-20;

        flex: 1 1 200px;

        min-height: 50px;

        border: 2px solid $dark-gray;
        border-radius: 3px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        background-color: transparent;
      }

      .btn {
        @include btn-size(100%, 30, 20, 0, 5, $font-size-0 / 1px);
        @include btn-style($green);
      }
    }
  }
}
