.section-hero {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  .container {
    @include container;
    @include container-flex-column;

    align-items: center;

    padding: 200px 0;

    color: $white;
    text-align: center;

    @include media(large) {
      @include padding-horizontal-20;
    }

    header {
      h1 {
        @include reset;
      }

      h2,
      p {
        @include reset-margin-top;
      }
    }

    form {
      @include container-flex;

      justify-content: space-between;
      gap: $gap-value-default * 1.5;

      max-width: 570px;

      input[type="text"],
      input[type="email"] {
        @include reset;
        @include padding-horizontal-20;

        flex: 1 1 270px;
        min-height: 50px;

        border: 2px solid $dark-gray;
        border-radius: 3px;

        color: $white;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        background-color: transparent;
      }

      .btn {
        flex: 1 1 100%;

        border: none;
        background: $green;

        font-size: $font-size-0;
        line-height: 15px;
      }
    }
  }
}
