.section-header {
  .container {
    @include container-flex;

    row-gap: 1rem;
    justify-content: space-between;

    position: absolute;
    top: 25px;
    right: 0;
    left: 0;

    font-size: $font-size-ultra-small;
    text-transform: uppercase;

    @include media(small) {
      @include container-flex-column;

      align-items: flex-start;
    }

    .container-flex {
      @include container-flex;

      @include media(small) {
        @include container-flex-column;

        align-items: flex-start;
        row-gap: 1rem;
      }
    }

    .logo {
      @include container-flex;

      margin-right: 90px;

      color: $white;

      @include media(small) {
        margin-right: 0;
      }

      img {
        width: 1.5rem;
        margin-right: 1rem;
      }
    }

    ul {
      @include container-flex;

      column-gap: 1.5rem;

      @include media(small) {
        @include container-flex-column;

        align-items: flex-start;
      }

      li:nth-child(1) {
        color: $white;

        @include media(small) {
          color: $gray;
        }
      }

      li:nth-child(3) {
        @include media(small) {
          color: $white;
        }
      }
    }

    input[type="search"] {
      width: 248px;
      height: 25px;

      padding: 5px 10px;

      background: $dark;
      border-radius: 50px;

      @include media(medium) {
        width: 500px;
      }

      @include media(small) {
        width: 100%;
      }

      &::placeholder {
        color: #757575;
        line-height: 15px;
        font-size: $font-size-0;
        text-transform: uppercase;
      }
    }
  }
}
