.section-header {
  .container-flex-header {
    @include container-flex($rem-base / 1px, 0, space-between);

    position: absolute;
    top: 25px;
    right: 0;
    left: 0;

    font-size: $font-size-ultra-small;
    text-transform: uppercase;

    @include media(small) {
      flex-direction: column;
    }

    .container-flex-logo-nav {
      @include container-flex(
        $rem-base / 1px,
        90,
        space-between,
        row,
        wrap,
        center
      );

      @include media(small) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .container-flex-logo {
      @include container-flex(
        0,
        $rem-base / 1px,
        space-between,
        row,
        wrap,
        center
      );

      img {
        width: 1.5rem;
      }
    }

    .container-flex-nav {
      @include reset;
      @include container-flex(0, 24);

      @include media(small) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    input[type="search"] {
      width: 248px;
      height: 30px;

      padding: 5px 10px;

      background: $dark;
      border-radius: 50px;

      @include media(medium) {
        width: 500px;
      }

      @include media(small) {
        width: 100%;
      }

      &::placeholder {
        color: #757575;
        font-size: $font-size-0;
        line-height: 15px;
        text-transform: uppercase;
      }
    }
  }
}
