.section-pricing {
  .container {
    @include container;

    padding-top: 100px;

    color: $white;
    text-align: center;

    .backgound-subscribe-1 {
      background-image: url("../images/subscribe_1.png");
      background-position: center;
      background-size: cover;
    }

    .backgound-subscribe-2 {
      background-image: url("../images/subscribe_2.png");
      background-position: center;
      background-size: cover;
    }

    .backgound-subscribe-3 {
      background-image: url("../images/subscribe_3.png");
      background-position: center;
      background-size: cover;
    }

    @include media(large) {
      @include padding-horizontal-20;
    }

    header {
      h2 {
        @include reset;

        margin-bottom: $value-default * 3;
      }
    }

    .container-flex {
      @include container-flex;

      justify-content: center;
      gap: 50px;

      margin-bottom: 40px;

      .pricing-item {
        box-sizing: border-box;
        flex: 1 1 30%;

        min-width: $min-width-container;
        max-width: 450px;

        padding: 0 $value-default * 1.5;

        border-radius: $value-default;

        h3 {
          margin-bottom: 200px;
        }

        .pricing-value {
          @include text-transform-uppercase;

          margin-bottom: 40px;

          .value {
            font-size: $font-size-7;
            line-height: 1em;

            margin-right: $value-default;
          }

          .currency {
            font-size: $font-size-3;

            vertical-align: top;
          }
        }

        .pricing-footer {
          margin-bottom: $value-default * 4;

          font-size: $font-size-small;
        }

        .btn {
          margin-bottom: $value-default * 4;

          padding-block: 20px;
        }
      }
    }
  }
}
